<div class="hero-unit">
  <h1>Welcome to One Month Rails!</h1>
<p>

	You have found the homepage for my <%= link_to "One Month Rails", "http://onemonthrails.com"%> project. 

</p>
 
	<p>
	<%= link_to "Sign up now!", "#", class: "btn btn-large btn-info btn-custom-mkdark" %>

	</p>

</div>
